.card-title-text {
  align-self: start;
}

.card-surface {
  display: grid;
  grid-template-columns: 337px 1fr;
}

.card-main-image {
  border-right: 1px solid #dce0e3;
  display: grid;
  padding: 16px;
  grid-template-rows: minmax(0, 1fr) minmax(0, 40px);
  overflow: hidden;
  grid-row-gap: 8px;
  align-items: center;
  justify-items: center;
  max-height: 278px;
}

.image {
  height: 100%;
  width: 100%;
  cursor: pointer;
  background-color: black;
  object-fit: cover;
}

.card-comments-section {
  padding: 12px 16px 16px;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: 32px 1fr;
  grid-row-gap: 12px;
  overflow: hidden;
  align-items: center;
  min-width: 250px;
}

.card-top {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
}
.card-top-left {
  justify-self: start;
}
.card-top-right {
  justify-self: end;
}

.card-bottom {
  height: 100%;
  min-height: 240px;
  grid-column: 1/-1;
  position: relative;
  overflow: hidden;
}

.session-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: 240px auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.session-card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  padding: 10px 20px;
  transition: background 0.15s ease;
}

.session-card:hover {
  background: #e5f3fc;
}

.session-card-text {
  margin-top: 12px;
  padding-left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.session-card-text-header {
  font-weight: 600;
}
