@import "@itwin/itwinui-css/scss/variables";

.activity-list-item {
  display: flex;
  padding: $iui-baseline $iui-l;
  gap: $iui-l;
  cursor: pointer;
  border-bottom: 1px solid var(--iui-color-background-border);

  &:hover {
    .name {
      color: var(--iui-color-foreground-primary)
    }
  }

  svg {
    width: 25px;
    height: 25px;
    margin-top: 5px;
  }

  .name {
    font-weight: bold;
    margin-bottom: 2 * $iui-baseline;
  }

  .info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .date-and-time {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }
}