@import "@itwin/itwinui-css/scss/variables";

.summary-card {
  display: flex;
  flex-direction: column;
  padding: $iui-baseline $iui-l;
  gap: $iui-baseline;
  height: 100%;

  :global {
    .iui-tabs-content {
      display: flex;
      flex-wrap: wrap;
      > * {
        flex-basis: calc((486px - 100%) * 999 );
      }
      &:before {
        content: "";
        border: 1px solid var(--iui-color-background-border);
        flex-basis: calc((486px - 100%) * 999 );
      }}
  }

  .left {
    padding: $iui-baseline $iui-l;
    display: flex;
    flex-direction: column;
    order: -1;
    flex-grow: 1;

    .item-times {
      display: flex;
      flex-direction: column;
      gap: $iui-baseline * 0.5;
      margin-top: $iui-baseline * 2;

      > div {
        display: flex;
        align-items: center;
        gap: $iui-s;

        svg {
          width: $iui-icons-default;
          height: $iui-icons-default;
          fill: currentColor;
        }
      }
    }
  }

  .right {
    padding: $iui-baseline $iui-l;
    display: flex;
    flex-wrap: wrap;
    gap: $iui-baseline * 2 $iui-l;
    flex-grow: 2;

    > div {
      width: 160px;
    }
  }
}